<?xml version="1.0" encoding="UTF-8"?>
<!-- 每隔30s自动检查配置文件是否改变，改变的话重新加载配置 -->
<configuration scan="true" scanPeriod="30 seconds">
    <!-- 设置日志输出根目录为用户主目录下的logs目录，没有会新建 -->
    <property name="LOG_DIR" value="${user.home}/logs"/>
    <!-- 使用springboot默认配置，其中有CONSOLE_LOG_PATTERN和FILE_LOG_PATTERN的配置 -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <!-- 增加一个jvm关闭时的hook，释放logback的线程和资源，jvm关闭时延迟3s关闭logback context -->
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook">
        <delay>3000</delay>
    </shutdownHook>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="infoAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- info日志中记录日记级别大于等于info级别的 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <file>${LOG_DIR}/info.log</file>
        <encoder charset="UTF-8">
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/info.log.%d{yyyy-MM-dd-HH}</fileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="async_infoAppender" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="infoAppender"/>
        <!-- 队列大小 -->
        <queueSize>2048</queueSize>
        <!-- 队列满了也不丢弃日志，会阻塞住。如果设置了neverBlock为true(默认false)，队列满会丢弃日志，不阻塞 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- logback context关闭后，处理队列中未写入日志的最大时间，到时间还没有写入磁盘的就丢弃 -->
        <maxFlushTime>2500</maxFlushTime>
    </appender>

    <appender name="errorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <file>${LOG_DIR}/error.log</file>
        <encoder charset="UTF-8">
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/error.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="async_errorAppender" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="errorAppender"/>
        <discardingThreshold>0</discardingThreshold>
        <maxFlushTime>2500</maxFlushTime>
        <queueSize>2048</queueSize>
    </appender>

    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="async_infoAppender"/>
        <appender-ref ref="async_errorAppender"/>
    </root>
</configuration>
